<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>Any CPU</Platform>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <TargetFramework>net8.0-windows</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishDir>bin\Release\net8.0-windows\win-x64\app.publish\</PublishDir>
    <!-- Identidad del producto -->
    <ProductName>Hornero Zone Identifier Cleaner</ProductName>
    <PublisherName>Omar Vasquez</PublisherName>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <UseApplicationTrust>false</UseApplicationTrust>
    <!-- Instalacion sin admin, en perfil del usuario -->
    <SelfContained>False</SelfContained>
    <InstallFrom>Unc</InstallFrom>
    <InstallUrl>\\192.168.1.112\hornero_zi_app\</InstallUrl>
    <!-- Actualizacion automatica al iniciar la app -->
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <!-- Accesos directos -->
    <CreateDesktopShortcut>false</CreateDesktopShortcut>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <ApplicationRevision>10</ApplicationRevision>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <ManifestCertificateThumbprint>4FAEDC1EB2A450F9CC1C9149AB380B11E5ECF767</ManifestCertificateThumbprint>
    <ManifestKeyFile>HorneroZoneIdentifier_TemporaryKey.pfx</ManifestKeyFile>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <PublishUrl>Z:\</PublishUrl>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SignatureAlgorithm>sha256RSA</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <SkipPublishVerification>false</SkipPublishVerification>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
    <History>True|2026-03-04T20:16:22.2042629Z||;True|2026-03-04T14:09:27.5560445-05:00||;True|2026-02-28T13:21:23.4327922-05:00||;True|2026-02-28T13:13:38.2370530-05:00||;False|2026-02-28T13:13:23.8336709-05:00||;False|2026-02-28T13:13:09.2960113-05:00||;True|2026-02-28T12:10:58.5602101-05:00||;False|2026-02-28T12:10:30.8470279-05:00||;True|2026-02-28T11:55:07.5144995-05:00||;False|2026-02-28T08:22:28.5494054-05:00||;True|2026-02-27T16:37:03.8524039-05:00||;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.8.0.x64">
      <Install>True</Install>
      <ProductName>Entorno de ejecución de escritorio de .NET 8.0.24 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>